<% content_for :title, "Editing todo" %>

<h1>Editing todo</h1>

<div class="max-w-4xl mx-auto border border-gray-200 rounded-lg p-4">
  <%= render "form", todo: @todo %>
  <br>
  <div>
    <%= link_to "Show this todo", @todo, class: "inline-block text-blue-600 hover:text-blue-800" %> |
    <%= link_to "Back to todos", todos_path, class: "inline-block text-blue-600 hover:text-blue-800" %>
  </div>
</div>
